/* Réinitialisation de marges et de padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylisation du body */
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 219, 232);
    overflow: hidden; /* Empêche le défilement si tout tient dans l'écran */
}

/* Conteneur pour le bouton, centré au milieu de l'écran */
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style du bouton principal */
.defaultBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 164px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    background-color: whitesmoke;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.225);
    cursor: pointer;
}

/* Style pour le raccourci clavier à l'intérieur du bouton */
.shortCut {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(189, 142, 255, 0.665);
    font-weight: bold;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.searchBar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 656px;
    height: 64px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.225);
}

.searchBar button {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.searchBar input,
input:focus {
    height: 44px;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: transparent;
}
